<section class="section is-fullheight">
  <div class="container columns is-vcentered">
    <div class="column is-8 is-offset-2">
      <a href="" class="button navigation" ui-sref="signup">{{'admin.registerUser' | translate}}</a>

      <h2>{{'admin.users' | translate}}</h2>

      <table class="table is-narrow">
        <thead>
        <tr>
          <th>{{'admin.table.name' | translate}}</th>
          <th>{{'admin.table.email' | translate}}</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in $ctrl.users">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>
            <a ng-click="$ctrl.delete(user)" class="trash">
              <span class="fa fa-trash fa-2x"></span>
              {{'buttons.remove' | translate}}
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
