<section class="section is-fullheight">
  <div class="container columns is-vcentered">
    <div class="column is-4 is-offset-3">
      <h1 class="title">{{'settings.password.change' | translate}}</h1>

      <div class="notification is-danger" ng-if="$ctrl.saveFailure">
        <button class="delete" ng-click="$ctrl.closeNotification()"></button>
        {{ 'settings.password.currentIncorrect' | translate }}
      </div>

      <div class="box">
        <form class="form" name="form" ng-submit="$ctrl.changePassword(form)" novalidate>
          <label class="label">{{'settings.password.current' | translate}}</label>
          <p class="control has-icon">
            <input class="input" type="password" name="password" required
                   ng-model="$ctrl.user.oldPassword" placeholder="●●●●●●●"/>
            <i class="fa fa-key"></i>
          </p>

          <label class="label">{{'settings.password.new' | translate}}</label>
          <p class="control has-icon">
            <input class="input" type="password" name="newPassword" required placeholder="●●●●●●●"
                   ng-model="$ctrl.user.newPassword" ng-minlength="3"
                   ng-class="{'is-danger': (form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$touched)}">
            <span class="help is-danger"
                  ng-if="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$touched)">
          {{'settings.password.length' | translate}}
        </span>
            <i class="fa fa-key"></i>
          </p>

          <label class="label">{{'settings.password.confirm' | translate}}</label>
          <p class="control has-icon">
            <input class="input" type="password" name="confirmPassword" ng-model="$ctrl.user.confirmPassword"
                   match="$ctrl.user.newPassword" ng-minlength="3" required placeholder="●●●●●●●"
                   ng-class="{'is-danger': form.confirmPassword.$invalid && form.confirmPassword.$touched}">
            <span class="help is-danger"
                  ng-if="(form.confirmPassword.$error.minlength || form.confirmPassword.$error.required) && form.confirmPassword.$touched">
          {{'settings.password.length' | translate}}
        </span>
            <span class="help is-danger" ng-if="form.confirmPassword.$error.match && form.confirmPassword.$touched">
          {{'settings.password.match' | translate}}
        </span>
            <i class="fa fa-key"></i>
          </p>

          <p class="control move-right">
            <button class="button is-primary" type="submit" ng-disabled="form.$invalid">{{'buttons.save' | translate}}
            </button>
          </p>
        </form>
      </div>

      <div class="notification is-success" ng-if="$ctrl.saveSuccess">
        <button class="delete" ng-click="$ctrl.closeNotification()"></button>
        {{ 'settings.password.success' | translate }}
      </div>
    </div>
  </div>
</section>