<section class="section is-fullheight">
  <div class="column is-9">
    <a href="" class="button navigation" ui-sref="admin">Volver</a>
    <h2>{{'signup.register' | translate}}</h2>
  </div>
  <div class="column is-6">
    <form name="form" novalidate>
      <div class="box">
        <div class="field">
          <p class="control">
            <label class="label">{{'signup.name' | translate}}</label>
            <input name="name" type="text" required class="input"
                   ng-model="$ctrl.user.name" ng-pattern="/^[a-z ,.'\-áéíóúñãâàẽêèĩîìõôòũûùüçĝỹ]+$/i"
                   ng-class="{'is-danger': form.name.$touched && form.name.$invalid}">
            <span class="help is-danger" ng-if="form.name.$touched && form.name.$error.required">
                  {{'signup.name.required' | translate}}
                </span>
            <span class="help is-danger" ng-if="form.name.$error.pattern">
                  {{'signup.name.invalid' | translate}}
                </span>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <label class="label">{{'signup.email' | translate}}</label>
            <input name="email" type="email" required class="input" ng-model="$ctrl.user.email"
                   ng-class="{'is-danger': form.email.$touched && form.email.$invalid}">
            <span class="help is-danger" ng-if="form.email.$touched && form.email.$error.required">
              {{'signup.email.required' | translate}}
            </span>
            <span class="help is-danger" ng-if="form.email.$error.email && form.email.$touched">
              {{'signup.email.invalid' | translate}}
            </span>
          </p>
        </div>

        <div class="field">
          <p class="control">
            <label class="label">{{'signup.password' | translate}}</label>
            <input name="password" type="password" required class="input" ng-minlength="3"
                   ng-model="$ctrl.user.password"
                   ng-class="{'is-danger': form.password.$invalid && form.password.$touched}">
            <span class="help is-danger"
                  ng-if="(form.password.$error.minlength || form.password.$error.required) && form.password.$touched">
                  {{'signup.password.length' | translate}}
              </span>
          </p>
        </div>

        <div class="field">
          <p class="control">
            <label class="label">{{'signup.password.confirm' | translate}}</label>
            <input name="confirmPassword" type="password" required class="input" ng-minlength="3"
                   ng-model="$$ctrl.user.confirmPassword" match="$ctrl.user.password"
                   ng-class="{'is-danger': form.confirmPassword.$invalid && form.confirmPassword.$touched}">
            <span class="help is-danger"
                  ng-if="(form.confirmPassword.$error.minlength || form.confirmPassword.$error.required) && (form.confirmPassword.$touched)">
                  {{'signup.password.length' | translate}}
              </span>
            <span class="help is-danger" ng-if="form.confirmPassword.$error.match && form.confirmPassword.$touched">
                {{'signup.password.match' | translate}}
              </span>
          </p>
        </div>

        <div class="field">
          <p class="control">
            <label class="label">{{'signup.role' | translate}}</label>
            <span class="select" ng-class="{'is-danger': form.role.$invalid && form.role.$touched}">
                <select ng-model="$ctrl.user.role" name="role" required>
                            <option value="user">User</option>
                            <option value="admin">Admin</option>
                </select>
              </span>
            <span class="help is-danger"
                  ng-if="form.role.$error.required && form.role.$touched">
                  {{'signup.role.required' | translate}}
              </span>
          </p>
        </div>
      </div>

      <div class="field">
        <p class="control move-right">
          <a href="" class="button is-medium is-success" ng-click="$ctrl.register(form)" ng-disabled="form.$invalid">
            <span class="icon" ng-if="!$ctrl.isSaving"><i class="fa fa-floppy-o"></i></span>
            <span ng-if="!$ctrl.isSaving"><strong>{{'buttons.register' | translate}}</strong></span>
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw is-green" ng-if="$ctrl.isSaving"></i>
          </a>
        </p>
      </div>

      <div class="notification is-success" ng-if="$ctrl.saveSuccess">
        <a class="delete" ng-click="$ctrl.closeNotification()"></a>
        {{'signup.success' | translate}}
      </div>

      <div class="notification is-danger" ng-if="$ctrl.saveFailure">
        <a class="delete" ng-click="$ctrl.closeNotification()"></a>
        <span ng-if="$ctrl.errDuplicate">{{'signup.duplicate' | translate}}</span>
        <span ng-if="!$ctrl.errDuplicate">{{'signup.failure' | translate}}</span>
      </div>

    </form>
  </div>
</section>





